@font-face {
  font-family: aktiv-grotesk;
  src: url("./assets/fonts/AktivGrotesk-Regular.woff2") format("woff2");
  font-display: fallback;
  font-style: normal;
  font-weight: 400;
  font-stretch: normal;
}

@font-face {
  font-family: aktiv-grotesk;
  src: url("./assets/fonts/AktivGrotesk-Medium.woff2") format("woff2");
  font-display: fallback;
  font-style: normal;
  font-weight: 500;
  font-stretch: normal;
}

@font-face {
  font-family: aktiv-grotesk;
  src: url("./assets/fonts/AktivGrotesk-SemiBold.woff2") format("woff2");
  font-display: fallback;
  font-style: normal;
  font-weight: 600;
  font-stretch: normal;
}

@font-face {
  font-family: "Poppins";
  src: url("./assets/fonts/poppins-regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Poppins";
  src: url("./assets/fonts/poppins-medium.woff2") format("woff2");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Poppins";
  src: url("./assets/fonts/poppins-semibold.woff2") format("woff2");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@import "tailwindcss";

:root {
  --c-text-primary: #141d22;
  --c-text-secondary: #edf0f2;
  --c-text-secondary-gray: #edf0f299;
  --c-text-gray-light: #8e9091;
  --c-text-gray-dark: #0c1114;
  --t-html-font-size: 16px;
  --f-default: sans-serif;
}

@layer base {
  html {
    --f-country-heading-family: var(--f-default);
    --f-country-simple-family: var(--f-default);
    font-size: var(--t-html-font-size);
  }

  body {
    font-family: var(--f-country-simple-family);
    color: var(--c-text-primary);
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
    text-size-adjust: 100%;
    text-rendering: optimizeLegibility;
    letter-spacing: 0.5px;
  }

  li,
  a {
    @apply hover:cursor-pointer hover:text-[#141d2299];
  }

  .feature-grid {
    display: grid;
    grid-template-areas:
      "left"
      "middle"
      "right";
    grid-template-columns: 1fr;
    place-content: center;
  }

  @media (min-width: 575px) {
    .feature-grid {
      grid-template-areas:
        "middle middle"
        "left right";
      grid-template-columns: repeat(2, 1fr);
    }
  }

  @media (min-width: 765px) {
    .feature-grid {
      grid-template-areas: "left middle right";
      grid-template-columns: repeat(3, 1fr);
    }
  }

  .feature-area-left {
    grid-area: left;
  }

  .feature-area-middle {
    grid-area: middle;
  }

  .feature-area-right {
    grid-area: right;
  }

  .feature-grid2-left,
  .feature-grid2-right {
    display: grid;
    grid-template-areas:
      "left"
      "middle"
      "right";
    grid-template-columns: 1fr;
    place-content: center;
  }

  @media (min-width: 765px) {
    .feature-grid2-left {
      grid-template-areas:
        "middle left"
        "middle right";
      grid-template-columns: repeat(2, 1fr);
    }

    .feature-grid2-right {
      grid-template-areas:
        "left middle"
        "right middle";
      grid-template-columns: repeat(2, 1fr);
    }
  }

  .feature-grid2-left-al {
    grid-area: left;
  }

  .feature-grid2-left-am {
    grid-area: middle;
  }

  .feature-grid2-left-ar {
    grid-area: right;
  }

  .feature-grid2-right-al {
    grid-area: left;
  }

  .feature-grid2-right-am {
    grid-area: middle;
  }

  .feature-grid2-right-ar {
    grid-area: right;
  }
}

@theme {
  --font-grotesk: "aktiv-grotesk", sans-serif;
  --font-poppins: "Poppins", sans-serif;

  --breakpoint-sm: 575px;
  --breakpoint-md: 765px;
  --breakpoint-lg: 990px;
  --breakpoint-xl: 1200px;
  --breakpoint-2xl: 1400px;

  --color-primary-text: #141d22;
  --color-primary-text-g: #141d2299;
  --color-secondary-text: #edf0f2;
  --color-secondary-text-g: #edf0f299;
}
